

<br /> 

<div class="container-fluid">
    <div class="Welcome hidden-xs">

        <h3 class="text-center">About Us!</h3> 
        <p>We started this project based on the idea of the average college student. I myself was in college and always used to-do-list. The applications for these 
        list never seemed to include all the functionalities that I wanted. Therefore, I resorted to using paper and categorizing them. Along the way I picked
        up some techniques to be more productive,time efficient, and make better list. The application you see here is the way I think and manage things. I hope
        you will enjoy it and it help you as well!</p>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="visible-xs">

        <h3 class="text-center">About Us!</h3>
        <p>
            I started this project based on the idea of the average college student. I myself was in college and always used to-do-list. The applications for these
            list never seemed to include all the functionalities that I wanted. Therefore, I resorted to using paper and categorizing them. Along the way I picked
            up some techniques to be more productive,time efficient, and make better list. The application you see here is the way I think and manage things. I hope
            you will enjoy it and it help you as well!
        </p>
    </div>
</div>