

<br />




<div class="container-fluid">
    <div class="Welcome hidden-xs">

        <h3 class="text-center">Contact Us!</h3> <br />
        <p>Phone Number: xxx-xxx-xxxx</p>
        <p>Email: x@gmail.com</p>
        <p>Address: xxxxxxxxxxx </p>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="visible-xs">

   
        <h3 class="text-center">Contact Us!</h3> <br />
        <p>Phone Number: xxx-xxx-xxxx</p>
        <p>Email: x@gmail.com</p>
        <p>Address: xxxxxxxxxxx </p>

    </div>
</div>


