<h1>Welcome To OnTask!</h1>

<br />

<div class="hidden-xs">
    <a href="https://www.ted.com/talks"><img id="ted" src="/images/ted.jpg" /></a>
</div>
<div class="hidden-xs">
    <a href="https://www.youtube.com/"><img id="youtube" src="/images/youtube.jpg" /></a>
</div>
<div class="container-fluid">
    <div class="Ted hidden-xs">

        <h3>Ted Talks!</h3> <br />
        <p>
        This is a useful link that is full of educated indivuduals giving talks over a variety of topics.
        You can use this site as you please, but it is provided to research ways to be more productive, manage time, stress, and things of that nature.
        </p>
    </div>
</div>
<div class="container-fluid">
    <div class="YouTube hidden-xs">

        <h3>You Tube!</h3> <br />
        <p>
            This is a useful link that is full of all kinds of video resources. If you have something that you are thinking about, more than likely this resource
            has it. 
        </p>
    </div>
</div>


<div class="container-fluid">
    <div class="Welcome hidden-xs">

        <h3 class="text-center">Get ready to be OnTask!</h3> <br />
        <p>
            This site is totally devoted to helping you manage your task and time most efficiently!
            Rather that be for your personal life, work, managment positions, or any other reasons we are here to help. 
        </p>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="visible-xs">

        <h3 class="text-center">Get ready to be OnTask!</h3> <br />
        <p id="xsWelcome">
            This site is totally devoted to helping you manage your task and time most efficiently!
            Rather that be for your personal life, work, managment positions, or any other reasons we are here to help.
        </p>
    </div>
</div>


<br /><br />

<div class="container-fluid">
    <div class="Welcome hidden-xs">

        <h3 class="text-center">Why use OnTask!</h3> <br />
        <ul class="text-left">
            <li>It is designed to organize your task.</li>
            <li>It takes your task and allows you to see the allocated time needed.</li>
            <li>It makes you think about more than just the task at hand.</li>
            <li>Most of all, it improves your efficency.</li>
        </ul>    
    </div>
</div>

<div class="container-fluid text-center">
    <div class="visible-xs">

        <h3 class="text-center">Why use OnTask!</h3> <br />
        <ul>
            <li>It is designed to organize your task.</li>
            <li>It takes your task and allows you to see the allocated time needed.</li>
            <li>It makes you think about more than just the task at hand.</li>
            <li>Most of all, it improves your efficency.</li>
        </ul>  
    </div>
</div>


<br /><br />



<div class="container-fluid">
    <div class="Welcome hidden-xs">

        <h3 class="text-center">Features of OnTask!</h3> <br />
        <ul class="text-left">
            <li>Serves as an integrated to-do-list, time managment, and organization tool.</li>
            <li>Organize your task by category,priority,time estimate, or dates by simpily clicking on the top of the table.</li>
            <li>See your time allocations visually by totals for the month from the list, and by categories from the list.</li>
            <li>Able to edit,delete, or complete task easily.</li>
        </ul>
     
    </div>
</div>

<div class="container-fluid text-center">
    <div class="visible-xs">

        <h3 class="text-center">Features of OnTask!</h3> <br />
        <ul class="text-left">
            <li>Serves as an integrated to-do-list, time managment, and organization tool.</li>
            <li>Organize your task by category,priority,time estimate, or dates.</li>
            <li>See your time allocations visually by totals for the month from the list, and by categories from the list.</li>
            <li>Able to edit,delete, or complete task easily.</li>
        </ul>

    </div>
</div>

<br /><br />

<div class="container-fluid">
    <div class="Welcome hidden-xs">

        <h3 class="text-center">How to use OnTask efficiently!</h3> <br />
        <ul class="text-left">
            <li>OnTask is set up on a monthly time tracking basis.</li>
            <li>Anything on the list that is more than a month away is seen as a long term goal and doesn't belong on the list.</li>
            <li>This is set up to improve your efficiency and focus on upcoming events.</li>
            <li>Other than that use the sorting, organization, and features to your advantage.</li>
        </ul>

    </div>
</div>

<div class="container-fluid text-center">
    <div class="visible-xs">

        <h3 class="text-center">How to use OnTask!</h3> <br />
        <ul class="text-left">
            <li>Serves as an integrated to-do-list, time managment, and organization tool.</li>
            <li>Organize your task by category,priority,time estimate, or dates.</li>
            <li>See your time allocations visually by totals for the month from the list, and by categories from the list.</li>
            <li>Able to edit,delete, or complete task easily.</li>
        </ul>

    </div>
</div>




